.container-form{
    justify-content: center;


}

.form-colaborador{

    /* width: 48%; */
    margin: 0 1em;

}


.form-group{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form-group label{
    margin: 0 0.4em 0.4em 0;

}

.form-group input{
    margin: 0;
}

select{
    margin: 0;
}

form > div {
    padding: 1em 0;
}

button {
    margin-right: 2em;
}

