<section class="container-form container">
    <h1>Adicione um novo Colaborador</h1>
    


<form class="card" [formGroup]="colaboradorForm" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="">Nome:</label>
        <input type="text" placeholder="Digite o nome completo" formControlName="nome" required>
    </div>

    <div class="form-group">
        <label for="matricula">Matrícula:</label>
        <input  formControlName="matricula" placeholder="Digite a Matricula" required>
    </div>

    <div class="form-group">
        <label for="">Cargo:</label>
        <select id="cargo" formControlName="cargo" >
            <option  value="Analista_de_suporte">Analista de suporte</option>
            <option  value="Analista_de_desenvolvimento_jr">Analista de desenvolvimento jr</option>
            <option  value="RH">RH</option>
            <option  value="Tech_lead">Tech Lead</option>

        </select>    
    </div>

    <div class="form-group">
        <label for="">Salário:</label>
        <input type="text" placeholder="Digite o salário" formControlName="salario" required>
    </div>
    <div class="buttons">
        <button [disabled]="!colaboradorForm.valid" type="submit">{{title}}</button>
        <button routerLink="" class="cancel-button">Cancelar</button>
    </div>
</form>


</section>