h3{
    margin: 0;
    text-decoration: underline;
}


select{
    border:1px solid #073A78;
    border-radius: 5px;
    padding: .6em 1em;
    margin-bottom: 20px;
    width: 350px;
    color: #606060;
}



.hours{
    display: flex;
    flex-direction: column;
    width: 320px;
}

.card{
    margin-right: 1em;
    padding-top: 1em;
    /* width: 40px; */
}

.hSaida{
    margin-top: 2em;
}

.inputHours{
    padding: 1em .5em;
}


.submitHours{
    margin-top: 2em;
}