<section class="container">
    <h1>Gerenciador de horas trabalhadas</h1>

    <p>Aqui você pode adiconar o horário trabalhado de cada dia</p>

    <p class="alert"> 
        como não tem sistema de autenticação na aplicação, essa aba simula a funcionalidade de um colaborador após o login!
    </p>

    <h3>Selecione o funcionário</h3>
   <!-- picker de data aqui -->
   <form [formGroup]="horasForm" (ngSubmit)="submit()" >
    <input type="hidden">
    <select [(ngModel)]="colaboradorSelecionado" formControlName="colaboradorId"    >
        <option value="{{item.id}}" *ngFor="let item of Colaboradores">
        {{item.nome}}
    </option>   
        
    </select>
    <br>

    <div class="card">
        <input  formControlName="hEntrada"  min="08:00" max="18:00">
    </div>

    <div class="card">
        <input formControlName="hSaida"  min="08:00" max="18:00">
    </div>
    <input [disabled]="!horasForm.valid" type="submit" value="Bater ponto">
    
   </form>

</section>
