<section class="container">
    <h1>Gerenciador de horas trabalhadas</h1>

    <p>Aqui você pode adiconar o horário trabalhado de cada dia</p>

    <p class="alert"> 
        como não tem sistema de autenticação na aplicação, essa aba simula a funcionalidade de um colaborador após o login!
    </p>

   <!-- picker de data aqui -->
   <form [formGroup]="horasForm" (ngSubmit)="submit()" >
    <h3>Selecione o funcionário </h3>
    <select  [(ngModel)]="colaboradorSelecionado" formControlName="colaboradorId">

        <option value="{{item.id}}" *ngFor="let item of Colaboradores">{{item.nome}}</option>   
        
    </select>
    <br>

    <div class="card hours">
        <label for="hEntrada">Digite a Hora de entrada:</label>
        <input class="inputHours"  formControlName="hEntrada"  min="08:00" max="18:00">

        <label class="hSaida" for="hSaida">Digite a Hora de saída:</label>
        <input class="inputHours" formControlName="hSaida"  min="08:00" max="18:00">

        <input class="submitHours" [disabled]="!horasForm.valid" type="submit" value="Bater ponto">
    </div>
    
   </form>

</section>
