<div *ngIf="messageService.message" class="message card">
    
    <div class="message-header">
        <h4>Mensagem do sistema</h4>
        <button (click)="messageService.clear()" class="clear cancel-button">X</button>
    </div >
    <h1>{{messageService.message}}</h1>
    
    <button *ngIf="!messageService.excluir"  routerLink=""  (click)="messageService.clear()" >Voltar a home</button>


    <div *ngIf="messageService.excluir">
        <p class="alert">Isso vai excluir permanentemente o Colaborador dos dados da empresa</p>
        
        <button (click)="messageService.clear()" >Não</button>
        <button class="cancel-button" >Sim</button>
    </div>

</div>
