<section class="container-relatorio container">
    <h1>Relatório de horas trabalhadas</h1>

    <h3>Aqui você pode acompanhar o desempenho semanal de cada colaborador, selecione o Colaborador</h3>

    <form action="">
        <select [(ngModel)]="selectUser" name="selectUser"  (change)="filter()"  >
            <option *ngFor="let items of Colaboradores" value="{{items.id}}">{{items.nome}}</option>   
        </select>
        <!-- <input type="submit" value="Ver relatório de Horas"> -->
    </form>

    <table  class="card">
        <thead>
            <tr>
                <th><h3>Dia</h3></th> <!-- aqui eu égaria só o dia pelo metodo getDay() de Date -->
                <th><h3>Entrada</h3></th>
                <th><h3>Saída</h3></th>
            </tr>
        </thead>
        <tbody  *ngFor="let item of listPonto">
            <tr>
                <td> <h4>{{item.hEntrada}}</h4> </td>
                <td> <h4>{{item.hEntrada}}</h4> </td>
                <td> <h4>{{item.hSaida}}</h4> </td>
            </tr>
        </tbody>

    </table>


</section>
