.semana{
    border-bottom: 1px solid #414141;
    margin: .6em 0;
    padding: 0 1em;
    font-weight: 500;
    align-items: center;
    text-align: center;
}

.container-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    text-align: center;
    margin: .5em 0;
    padding: 0;
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 2em;
}

td, th{
   padding: 0 3em;
}

h1{
    border: 0;
}
td > h2{
    margin-right: .5em;
}