<section class="container-relatorio container">
    <h1>Relatório de horas trabalhadas</h1>

    <p>Aqui você pode acompanhar o desempenho semanal de cada colaborador</p>


    <div class="container-cards">
        <div class="card">
            <h4 class="semana">dia 01 à dia 05</h4>
            <div class="horas">
                <p>07:55 -- 18:16</p>
                <p>07:50 -- 17:55</p>
                <p>08:05 -- 18:00</p>
                <p>07:51 -- 18:10</p>
                <p>07:59 -- 18:12</p>
            </div>
        </div>

        <div class="card">
            <h4 class="semana">dia 01 à dia 05</h4>
            <div class="horas">
                <p>07:55 -- 18:16</p>
                <p>07:50 -- 17:55</p>
                <p>08:05 -- 18:00</p>
                <p>07:51 -- 18:10</p>
                <p>07:59 -- 18:12</p>
            </div>
        </div>

        <div class="card">
            <h4 class="semana">dia 01 à dia 05</h4>
            <div class="horas">
                <p>07:55 -- 18:16</p>
                <p>07:50 -- 17:55</p>
                <p>08:05 -- 18:00</p>
                <p>07:51 -- 18:10</p>
                <p>07:59 -- 18:12</p>
            </div>
        </div>

        <div class="card">
            <h4 class="semana">dia 01 à dia 05</h4>
            <div class="horas">
                <p>07:55 -- 18:16</p>
                <p>07:50 -- 17:55</p>
                <p>08:05 -- 18:00</p>
                <p>07:51 -- 18:10</p>
                <p>07:59 -- 18:12</p>
            </div>
        </div>
        <div class="card">
            <h4 class="semana">dia 01 à dia 05</h4>
            <div class="horas">
                <p>07:55 -- 18:16</p>
                <p>07:50 -- 17:55</p>
                <p>08:05 -- 18:00</p>
                <p>07:51 -- 18:10</p>
                <p>07:59 -- 18:12</p>
            </div>
        </div>
    </div>

</section>
