.container{
    max-width: 1080px;
    margin: 0 auto;
}

a, h1, h2, h3, h4,p, input, label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: #073A78;
    border-left: 3px #073A78 solid;
    padding-left: 0.2em;
}

h3{
    color: #707070;
}

h4{
    color: #595959;

}

p{
    color: #606060;
}

a{
    color: #073A78 ;
}



label{
    color: #606060;

}

input{
    padding: 0.9em;
    margin: .2em 0;
    border: 1px solid #b9b9b9;
    border-radius: 5px;
}

input[type=submit], button{
    padding: 1em 1.6em;
    background-color: #073A78;
    border: 0;
    color: white;
    border-radius: 5px;
    min-width: 200px;
    cursor: pointer;
    transition: ease .3s;
}

input[type=submit]:hover, button:hover{
   
    background-color: #0c4e9f;
}

.cancel-button{
    background-color: white;
    border: 1px solid red;
    color: red;
    font-weight: 600;
    border-radius: 5px;
}

.cancel-button:hover{
    background-color: red;
    border: 1px solid red;
    color: white;
    font-weight: 600;
}

.card{
    padding:0  1em 1em 1em ;
    background-color: #f4f4f4;
    border: 1px solid #b0b0b0;
    border-radius: 8px;
}


.alert{
    color: red;
    font-size: 14px;
    letter-spacing: 0.1px;
}

select{
    border: 1px solid #b9b9b9;
    border-radius: 5px;
    padding: .6em 1em;
    margin-bottom: 20px;
    color: #606060;
}