<section class="container" >
    <h1>Gerenciamento de colaboradores</h1>

    <h3>Edite ou cadastre um novo colaborador</h3>

    <button   routerLink="/cadastro" >Cadastrar Colaborador</button>


    <table  class="card">
        <thead>
            <tr>
                <th><h4>Nome</h4></th>
                <th><h4>Cargo</h4></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody  *ngFor="let item of Colaboradores">
            <tr>
                <td><h4>{{item.nome}}</h4></td>
                <td><h4>{{item.cargo}}</h4></td>
                
                <td>
                    <button class="detalhes" routerLink="detalhes/{{item.id}}" >Detalhes</button>
                </td>
                
                <td>
                    <button routerLink="editar/{{item.id}}">Editar</button>

                </td>
                
                <td  ><button (click)="OpenDialog(item.id)" class="cancel-button">Excluir</button></td>
            </tr>
        </tbody>

    </table>
    <ng-template #semColaborador >
        <br>
        <br>
    <h3 class="alert">Nenhum Colaborador existente, crie um clicando em cadastrar!</h3>
    </ng-template>
    <br><br>


</section>
